.card {
  width: 500px;
  padding: 40px 20px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.452);
  border-radius: 15px;
  flex-wrap: wrap;
}

.todo-container h3 {
  text-align: center;
  margin: 0;
  margin-bottom: 10px;
}

p {
  color: black;
}
